.nav-link {
  color: #28c52e;
  font-size: 18px;
  font-weight:500;
  transition:0.3s ease, transform 0.2s ease;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-link:hover {
  color: white;      /* slightly darker green */
  transform: scale(1);
  background-color: #28c52e;
  cursor: pointer;
}
.get-started{
  color: white; 
  text-align: center;     /* slightly darker green */
  font-size: 18px;
  background-color: #28c52e;
  cursor: pointer;
  transition:0.3s ease, transform 0.2s ease;

}
.get-started:hover{
  transform: scale(1.06);
}
